.container
  .row
    .span6.offset2
      .row
         &nbsp;
      .row
         &nbsp;
      .row
        .span3.text-center
          Installed and customised by <br />
          %a(href="https://twitter.com/pastcompute")
            Andrew McDonnell            
            
      .row
        .span3.text-center
          On behalf of United Football Club<br />
    .span4.text-center
       %img(src="/static/img/logo.jpg")

